body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #EBEBEB;
  color: #333333;

}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #545F66;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
  font-style: bold;
}

h3 {
  font-size: 15px;
}

p {
  color: #99A1A6;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #384044;
}

li {
  list-style: : none;
}

.section-white {
  width: 900px;
  margin: 20px auto;
  padding: 50px 20px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.round-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding: 0 10px;
}

.btn-blue {
  background-color:#0b409c;
  color: white;
  border-radius:3px;
  padding: 10px;
  /*margin: 20px;*/
  opacity: 0.7;
  font-weight: bold;
}

.btn-blue:hover {
  opacity: 1;
  color:white;

}


.list-inline li {
  font-size: 20px;
  display: inline-block;
  padding: 15px;
}

.img-square {
  width: 150px;
  height: 200px;
  margin: 10px;
}

.padding-10 {
  padding: 10px;
}

#movies {
  font-weight: 300;
  line-height: 1.6em;
}


